#ref-main {
    width: 700px;
    height: 500px;

    margin: 50px auto;

}
#ref-main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 95%;
    height: 10%;

    margin: 0 auto;
}
#ref-main-items {
    width: 95%;
    height: 90%;

    margin: 0 auto;
    
    overflow: auto;
}
.item {
	display: inline-block;
    width: 120px;
    height: 150px;
    margin: 10px;

    text-align: center;
}
.item > :first-child {
    height: 15%;
    margin: 0;
    padding: 0;

    border-radius: 10px;
}
.item > img {
    height: 70%;
    width: 100%
}
.item > :last-child {
    height: 15%;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
}

/* 모달창 스타일 */
#modal {
    display: none;
}
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
    background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
}

.close-area {
	position: absolute;
	top: -10px;
	right: 0px;
	
	color: red;
	font-size: 30px;
}
.filtering {
	color: blue;
	cursor: pointer;
}
.active {
	color: red;
	
}

/* 품목 상세 오프셋 레이어 스타일 */
#divView { 
	position:absolute; 
	display:none;
	background-color:#ffffff; 
	border:solid 2px #d0d0d0; 
	width:350px; 
	height:250px; 
	padding:10px; 
}